/* Universal style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;

    overflow-x: hidden;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.875rem;
    text-transform: uppercase;

    color: #0B467E;

    margin-bottom: 0.75rem;
}

.secondary-title {
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;

    padding: 1.5em 3em;

    background-color: #AB1B1E;
    border-radius: 4px;
    border: 0;
}


/*----------------- Header / Nav Menu* ----------------------*/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1.18rem;
}

.primary-nav {
    display: flex;
    list-style: none;
}

.primary-nav a {
    text-decoration: none;
    color: #252525;
    font-size: 1em;
}

.mobile-nav-toggle {
    display: none;
}

/* =============== Nav Media Query ================= */
/* ================================================== */

@media (max-width: 35em) {
    .primary-nav {
        text-align: left;

        gap: 1.2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(20vh, 8rem) 2em;
        background-color: #0B467E;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;

        background-color: transparent;
        background-image: url(./images/icons/ham-menu.svg);
        background-repeat: no-repeat;
        border: 0;

        width: 1.5rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 1.4rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./images/icons/icon-close-nav.svg);
    }

    .primary-nav a {
        color: white;
        font-size: 1.4em;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-nav {
        font-size: 1.2em;
        align-items: center;
        gap: 1.4rem;
    }
}

/* ----------------------- Hero ------------------------ */

#hero {
    background-color: #0B467E;
    height: 85vh;
    color: white;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 1.4rem;
    gap: 1rem;

    position: relative;
}

.hero-text .heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.06rem;

    margin-bottom: 1.8rem;
}

.hero-text p {
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
}

.hero-images {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 1rem;
    min-height: 25rem;

    position: absolute;
    inset: 24rem 1.4rem;
}

.hero-img {
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 0 3px 10px rgba(37, 37, 37, 0.5);
}

.hero-img.one {
    background-image: url(./images/hero-img-01.jpg);
    
    grid-row: 1 / span 3;
    grid-column: 1 / span 4;
}

.hero-img.two {
    background-image: url(./images/hero-img-02.jpg);

    grid-row: 4 / span 2;
    grid-column: 1 / span 2;
}

.hero-img.three {
    background-image: url(./images/hero-img-04.jpg);

    grid-row: 4 / span 2;
    grid-column: 3 / span 2;
}


/* =============== Hero Media Query ================= */
/* ================================================== */

@media (min-width: 35em) and (max-width: 55em) {
 
    .hero-container {
        padding: 4rem 4rem;
        text-align: left;
    }

    .hero-text .heading {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .hero-images {
        padding: 0 2.5rem;
        height: 500px;
        gap: 1.2rem;
    }

    /* Search */

    .search-container {
        margin-bottom: 7rem;
    }

    /* Seasons */

    .season-container {
        margin-top: 6rem;
    }

}
/* --------------------- Search Bar ---------------------- */

#search-bar {
    margin-top: 6rem;
}

.search-container {
    text-align: center;
}

.search-title {
    width: 20rem;
    margin: 0 auto;

    font-size: 1.5625rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.8rem;

    color: #AB1B1E;

    margin-bottom: 1.8rem;
}

.search-container .search-bar {
    border: 1px solid #252525;
    border-radius: 2rem;
    width: 70%;
    padding: 0.5rem 1rem;

    font-size: 1rem;
}


/* ------------------ Products Categories ------------------- */

#products {
    background-color: rgba(112, 112, 112, 0.06);

    margin-top: 4rem;
    padding: 2rem 0;
}

.prod-categories {
    padding: 0 1.18rem;

    display: flex;
    flex-direction: column;
}


.prod-categories .title {
    padding-left: 2.9rem;

    width: 100%;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    position: relative;

    padding: 0 2.5rem;
}

.prod-categories .title::before {
    content: "";
    height: 54px;
    width: 7px;
    background-color: #AB1B1E;
    
    position: absolute;
    top: 0.1875rem;
    left: 4rem;
}

.categories-container .category {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.category .prod-icon {
    background-color: #EEEEEE;
    width: 6rem;
    height: 6rem;

    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.6rem;
}

.category .category-name {
    font-size: 1rem;
    color: #252525;
}

.prod-icon.glass img {
    height: 4rem;
}

.prod-icon.plastics img {
    height: 4rem;
}

.prod-icon.home img {
    height: 2.5rem;
}

.prod-icon.garden img {
    height: 3.5rem;
}

.prod-icon.kitchen img {
    height: 3.3rem;
}

.prod-icon.offers img {
    height: 3rem;
}


/*-------------------- Seasonal products -------------------- */

.season-img {
    background-image: url(./images/season-00.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    min-height: 17rem;
}

.season-feat {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4rem 3.2rem;

    position: relative;
}

.season-feat .title {
    padding-left: 2.9rem;

    width: 100%;
}

.season-feat .title::before {
    content: "";
    height: 54px;
    width: 7px;
    background-color: #AB1B1E;
    
    position: absolute;
    top: 4.1875rem;
    left: 4rem;
}

.feature {
    margin-bottom: 1.5rem;
}

.season-feat .feature-image {
    border-radius: 0.6rem;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    min-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image.one {
    background-image: linear-gradient(0deg, rgba(171, 27, 30, 0.5),  rgba(171, 27, 30, 0.5)), url(./images/season-01.jpg);

    background-position: center;
}

.feature-image.two {
    background-image: linear-gradient(0deg, rgba(171, 27, 30, 0.5),  rgba(171, 27, 30, 0.5)), url(./images/season-02.jpg);

    /* background-position: bottom center; */
} 

.feature-image.three {
    background-image: linear-gradient(0deg, rgba(171, 27, 30, 0.5),  rgba(171, 27, 30, 0.5)), url(./images/season-03.jpg);

    /* background-position: bottom center; */
} 

.feature .season-name {
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
}

/*-------------------- Core Values ---------------------- */

#core-values {
    background-color: #0B467E;
    padding: 0 1.4rem;
    margin-top: 7rem;

    display: grid;
    gap: 2rem;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: repeat(4, 1fr);

    position: relative;
}

.values-container {
    grid-row: 1 / span 3;
    grid-column: 1 / span 4;

    background-color: #AB1B1E;
    border-radius: 0.8rem;
    padding: 2rem 1.5rem;

    color: white;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;

    position: absolute;
    top: -4rem;
}

.values-text p {
    line-height: 1.8rem;
}

 .button.values-btn {
   background-color: #E0FFFF;
   margin: 0.5rem 0;
}

.values-container .values-image {
    height: 200px;
    
    background-image: url(./images/core-values-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
}

/*-------------------- Contact Info ---------------------- */

.contacts-container {
    padding: 3.5rem 1.4rem 3rem;
}

.contacts-container .title {
    margin-bottom: 1.3rem;
}

.contacts-info .social-icons img {
    padding: 2.5rem 1rem;
}

.contacts-img {
    height: 40vh;
    background-image: url(./images/contact-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-------------------- Contact FORM ---------------------- */

.form-container {
    padding: 3.5rem 1.4rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.form li {
    list-style: none;
    
    margin-bottom: 1rem;
}

.form input {
    border: 0;
    background-color: #E0E6EC;
    border-radius: 1rem;
    width: 100%;
    padding: 0.8rem 1rem;

    font-size: 1.2rem;
    color: #252525;
}

.form textarea {
    border: 0;
    background-color: #E0E6EC;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    width: 100%;

    font-size: 1.2rem;
    color: #252525;
}

.button.form {
    border: 0;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #AB1B1E;

    align-items: center;
    color: white;
}

/* ------------------- FOOTER ---------------------- */

#footer {
    background-color: #0B467E;

    color: white;
}

.footer-container {
    padding: 3.5rem 1.4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-logo {
    order: 1;
}

.social-icons {
    order: 3;
}

.footer-container .social-icons img {
    padding: 0 1rem;
}

.footer-nav {
    order: 2;
    margin-top: 2rem;
}

.footer-nav ul {
    list-style: none;
    text-align: left;

    margin-bottom: 2rem;
}

.footer-nav .footer-nav-title {
    text-transform: uppercase;
    font-size: 1.375rem;

    margin-bottom: 1rem;
}

.footer-nav li {
    line-height: 1.8rem;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

.copyright {
    order: 4;
    padding: 0 3rem;
}

.designed-by {
    order: 5;
    font-weight: 100;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;

    margin-top: 2rem;
}

.designer {
    font-weight: 900;
    font-style: italic;
    
}

.designer a {
    text-decoration: none;
    color: white;
}