/* Universal style */
@font-face {
    font-family: Texta;
    src: url(./fonts/Texta-Regular-webfont.woff2) format("woff2"),
        url(./fonts/Texta-Book-webfont.woff2), format("woff2"),
        url(./fonts/Texta-Medium-webfont.woff2) format("woff2"),
        url(./fonts/Texta-Bold-webfont.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Texta, sans-serif;
    font-weight: 400;
    text-align: center;

    overflow-x: hidden;
}

.title {
    font-size: 1.875rem;
    font-weight: 700;

    color: #0B467E;
}

.secondary-title {
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .button {
    text-decoration: none;
    color: #404040;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Texta, sans-serif;

    padding: 0.6rem 3rem;

    background-color: #84CDEE;
    border-radius: 50px;
    border: 0;
}


/*----------------- Header / Nav Menu* ----------------------*/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1.18rem;
}

.primary-nav {
    display: flex;
    list-style: none;
}

.primary-nav a {
    text-decoration: none;
    color: #252525;
    font-size: 1em;
}

.mobile-nav-toggle {
    display: none;
}

/* =============== Nav Media Query ================= */

@media (max-width: 35em) {
    .primary-nav {
        gap: 1.2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(20vh, 8rem) 2em;
        background-color: #0B467E;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;

        background-color: transparent;
        background-image: url(./images/icons/ham-menu.svg);
        background-repeat: no-repeat;
        border: 0;

        width: 1.5rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 1.4rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./images/icons/icon-close-nav.svg);
    }

    .primary-nav a {
        color: white;
        font-size: 1.4em;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-nav {
        font-size: 1.2em;
    }
}

/* ----------------------- Hero ------------------------ */

#hero {
    background-color: #0B467E;
    height: 85vh;
    color: white;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 1.4rem;
    gap: 1rem;

    position: relative;
}

.hero-text .heading {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 1.8rem;
}

.hero-text p {
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
}

/* .hero-text .button {
    text-decoration: none;
    color: #404040;
    font-size: 1rem;
    font-weight: 500;

    padding: 0.6rem 3rem;

    background-color: #84CDEE;
    border-radius: 50px;
} */

.hero-images {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 1rem;
    height: 400px;

    position: absolute;
    inset: 24.5rem 1.4rem;
}

.hero-img {
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 0 3px 10px rgba(37, 37, 37, 0.5);
}

.hero-img.one {
    background-image: url(./images/hero-img-01.jpg);
    
    grid-row: 1 / span 3;
    grid-column: 1 / span 4;
}

.hero-img.two {
    background-image: url(./images/hero-img-02.jpg);

    grid-row: 4 / span 2;
    grid-column: 1 / span 2;
}

.hero-img.three {
    background-image: url(./images/hero-img-04.jpg);

    grid-row: 4 / span 2;
    grid-column: 3 / span 2;
}

/* --------------------- Search Bar ---------------------- */

.search-container {
    padding-top: 7.5rem;

    text-align: center;
}

.search-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5rem;

    color: #AB1B1E;

    margin-bottom: 1rem;
}

.search-container .search-bar {
    border: 1px solid #252525;
    border-radius: 2rem;
    width: 70%;
    padding: 0.5rem 1rem;

    font-size: 1rem;
}


/* ------------------ Products Categories ------------------- */

.prod-categories {
    margin-top: 3rem;
    padding: 0 1.18rem;

    display: flex;
    flex-direction: column;
}

.show-all {
    display: none;
}

/* Categories */

.categories-container {
    margin-top: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    gap: 1.5rem;

    padding: 0 2.5rem;
}

.categories-container .category {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.category .prod-icon {
    background-color: #EEEEEE;
    width: 6rem;
    height: 6rem;

    border-radius: 0.5rem;

    display: flex;
    justify-content: center;

    margin-bottom: 0.3rem;
}

.category .category-name {
    font-size: 1.125rem;
    color: #252525;
}

/*-------------------- Seasonal products -------------------- */

.season-container {
    margin-top: 3rem;
    padding: 0 1.18rem;
}

.season-feat {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 3.2rem;

    margin-top: 3rem;
}

.season-feat .feature-image {
    border-radius: 0.6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature-image {
    min-height: 15rem;

    margin-bottom: 0.7rem;
}

.feature-image.one {
    background-image: url(./images/season-01.jpg);
}

.feature-image.two {
    background-image: url(./images/season-02.jpg);
} 

.feature-image.three {
    background-image: url(./images/season-03.jpg);
} 

.feature .season-name {
    font-weight: 500;
    font-size: 1.375rem;
    color: #252525;
}

/*-------------------- Core Values ---------------------- */

#core-values {
    /*  try display grid*/
}

/* #core-values {
    height: 90vh;
    background-color: #0C467F;
    padding: 0 1.4rem;

    position: relative;
    margin-top: 9rem;
} */

/* .values-container {
    background-color: #AB1B1E;
    border-radius: 0.8rem;
    padding: 2rem 1.5rem;
    padding-bottom: 7rem;

    color: white;
    
    margin-top: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    position: absolute;
    top: -9rem;
    left: 1.4rem;
    right: 1.4rem;
} */


 /* .button.values-btn {
   background-color: #E0FFFF;
   margin: 2rem 0;
} */

/* .values-image {
    height: 12.5rem;
    background-image: url(./images/core-values-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 0.6rem;

    position: absolute;
    inset: 30rem 1.4rem;
} */

/*-------------------- Brands TBD ---------------------- */


/* .brands-container {
    margin-top: 40rem;
    position: absolute;
} */

/* .brands-container .secondary-title {
    color: white;
} */

/* .brands-container .brand-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    gap: 2.5rem;
    padding: 0 3.2rem;
} */